services:
  app:
    restart: always
    build: .
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - app_network


  db:
    image: mysql:8.2
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: mydatabase
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network

volumes:
  mysql_data:


networks:
  app_network:
    driver: bridge
    name: app_network

